{% extends 'base.html' %}
{% load static %}

{% block title %} About Us{% endblock %}


{% block body %}
<head>
<link rel="stylesheet" href="{% static 'css/style.css' %}" >
 <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,intial-scale=1.0">
        <title> footer </title>
        <link rel ="stylesheet" href="{% static 'css/style1.css' %}" >
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
#head
{
color:blue;
}
</style>

</head>

	<h1 id ="head"> About Us </h1>
	<p>

	We believe in putting people first, and our dedication to making ethical decisions and doing the right thing is at the heart of what we do. We're proud to be named by Ethisphere as a 2017 World's Most Ethical Company. We work to meet our customers’ business and personal banking needs with competitive products and services, convenient access to their accounts, and proven stability backed by industry-leading financial metrics. With more 
	than 4,800 ATMS, 3,088 branch locations, 24-hour phone support and mobile and online banking, we make it easy for our customers to manage their money any time.
	Our relationships are built on trust that we build every day through every interaction. Our employees are empowered to do the right thing to ensure they share our customers’ vision for success. We work as a partner to provide financial products and services that make banking safe, simple and convenient. 
	We’re here to help navigate important milestones and strengthen futures together


	</p>	

<footer>
                    <div class="footer-content">
                    <h3> Sparks Bank </h3>
                    <p> We are the most trusted Bank </p>
                    <ul class="socials">
                        <li><a href="https://www.facebook.com/mihir.sane.9/"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-github"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
            </ul>
        </div>
        <div class="footer-bottom">
            <p>copyright &copy;2021 Mihir Sane. designed by <span>Mihir Sane</span></p>
        </div>
    </footer>
	
{% endblock %}